<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phillykeyspots.frpapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="phillykeyspots.frpapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="phillykeyspots.frpapp.SearchForKeyspotActivity"
            android:label="@string/title_activity_search_for_keyspot"
            android:parentActivityName="phillykeyspots.frpapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="phillykeyspots.frpapp.MainActivity" />
        </activity>
        <activity
            android:name="phillykeyspots.frpapp.FindResourcesActivity"
            android:label="@string/title_activity_find_resources"
            android:parentActivityName="phillykeyspots.frpapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cphillykeyspots.frpapp.MainActivity" />
        </activity>
        <activity
            android:name="phillykeyspots.frpapp.JoinOurMailingListActivity"
            android:label="@string/title_activity_join_our_mailing_list"
            android:parentActivityName="cphillykeyspots.frpapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="phillykeyspots.frpapp.MainActivity" />
        </activity>
        <activity
            android:name="phillykeyspots.frpapp.FindEventsActivity"
            android:label="@string/title_activity_find_events"
            android:parentActivityName="phillykeyspots.frpapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="phillykeyspots.frpapp.MainActivity" />
        </activity>
    </application>

</manifest>